* {
	margin: 0px;
	padding: 0px;
}

h1, h2, h3 {

	font-family: 'Georgia', Times, Times, serif;

}

h2, h3 {
	color: #4aaaa5;
}

p, ul, form {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}
body {
		background-image: url("../images/wavegrid/wavegrid.png");
		padding: 0px;
}

hr {
	margin-bottom: 10px;
}

header {
	background-color: white;
	width: 100%;
	height: 100px;
	margin-top: 0px;
	border-bottom: 2px solid #777777;
	

}

footer {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	background-color: #666666;
	height: 150px;
	clear: both;
	width: 100%;
	margin: auto;
	border-top: 5px solid #4aaaa5;;


}

ul {
    list-style-type: none;
    background-color: white;
    /*display: inline;*/
   /*text-align: left;*/
   	margin-bottom: 0px;
	padding-top: 20px;
	margin-right: 150px;
}

li {
    float:  right;
}

li a {
    display: block;
    color: #918F8F;
    text-align: right;
    padding:  14px 16px;
    text-decoration: none;

}


li a:hover {
    background-color: #D2D1D1;
}


header h1 {
	float: left;
	clear: both;
	margin-left: 150px;
	margin-top: 14px;
	background-color: #4aaaa5;
	padding: 25px 25px 25px 25px;
	color: white;
	display: inline;
}

form input {
	  width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}

button[type=button] {
	background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

textarea {
	width: 92.5%;
}

form {
	padding-top: 5px;
}

input[type=text]:focus {
    background-color: #eee;

}

#contact {
	background-color: white;
	width: 40%;
	float: left;
	clear: both;
	margin-left: 150px; 
	margin-top: 40px;
	padding: 10px 20px 10px 20px;
	

}




.container {
	background-color: #eee;
}

#bio-paragraph {
	clear: both;
	float: left;
	width: 40%;
	margin-left: 150px;
	background-color: #fff;
	padding: 10px 20px 10px 20px;
	


}

#bio-paragraph p, #bio-image {
	padding-top: 15px;
}

#bio-image {
	float: left;
	margin-left: 00px;
	margin-right: 10px;
}

#socialMedia {
	
	float: left;
	margin-left: 60px;
	background-color: #fff;
	text-align: center;
	padding: 10px 20px 10px 20px;
	width: 18%;
	
	

}

#portfolioBox {
	background-color: white;
	float: left;
	clear: both;
	width: 40%;
	margin-left: 150px;
	padding: 10px 20px 10px 20px;
	
}

#portfolioBox a {
	margin: 0 auto;
	padding: 10px;
}

#bio-paragraph, #socialMedia, #portfolioBox, #contact {
	margin-top: 60px;
	margin-bottom: 100px;

}